/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}






body {
    background-color: #C3BAB3;
    margin: 2vw;
}

.container1 {
    margin-top: 0vh;
    width: 94vw;
    height: 85vh;
    background-color: #5D616C;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding-top: 1vh;
    padding-left: 1vh;
}


.container2 {
    margin-top: 0vh;
    width: 94vw;
    height: 85vh;
    background-color: #5D6D7E;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding-top: 1vh;
    padding-left: 1vh;
}


.container3 {
    margin-top: 0vh;
    width: 94vw;
    height: 85vh;
    background-color: #253E52;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding-top: 1vh;
    padding-left: 1vh;
} 

.button1 {
    background-color: #5D616C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.4vw;
    font-weight: bold;
    color: #D6CECE;
    border: 2px #5D616C;
    height: 5vh;
    width: 10vw;   
    transition-duration: 0.2s;       
}

.button2 {
    background-color: #5D6D7E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.4vw;
    font-weight: bold;
    color: #D6CECE;
    border: 2px #5D607E;
    height: 5vh;
    width: 10vw;   
    transition-duration: 0.2s;       
}

.button3 {
    background-color: #253E52;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.4vw;
    font-weight: bold;
    color: #D6CECE;
    border: 2px #253E52;
    height: 5vh;
    width: 10vw;   
    transition-duration: 0.2s;       
}


.button1:hover {
    height: 6vh;
}

.button2:hover {
    height: 6vh;
}
.button3:hover {
    height: 6vh;
}

p {
    font-size: 15px;
    color: #D6CECE;
    line-height: 1.5;
}

h1 {
    color: #5D616C;
    background-image: linear-gradient(to right, #D6CECE, #5D616C);
    font-size: 3vh;
    width: 60%;
    height: 4vh;
}
 
h2 {
    color: #5D6D7E;
    background-image: linear-gradient(to right, #D6CECE, #5D6D7E);
    font-size: 3vh;
    width: 60%;
    height: 4vh;
}

h3 {
    color: #253E52;
    background-image: linear-gradient(to right, #D6CECE, #253E52);
    font-size: 3vh;
    width: 60%;
    height: 4vh;
}

